{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <center><img src="{% static 'img/logodtr.jpg' %}" alt="" width="100"> </center><center><h1><font face="Courier New"size="8" color="#0293D6">PK STORE</font> </h1></center><br>
  <table cellspacing="15" width="100%" >
      <tr>
          <th >home</th>
          <th>store</th>
          <th>account</th>
          <th>settings</th>
          <th>Download</th>
          <th>about us</th>
      </tr>
  </table><hr>
  
  {% block content %}
  <p>wellcome page</p>

  <img src="{% static 'img/grocery.jpg' %}" alt=""width="500"><br><br>
  <a href="{% url 'son' %}">click</a>    
  {% endblock %}

  
    <hr>
    
    <center><img src="{% static 'img/store.png' %}" alt="pic" width="100"> </center><img src="{% static 'img/Get.jpg' %}" alt=""width="100">

        
        
        
         
</body>
</html>